@charset "UTF-8";
@import "./imports.css";
@import "./animation.css";
@import "./responsive.css";

.navTopStyleContainer {
  text-align: center;
  background-image: linear-gradient(90deg, #92ffc0, #002661);
  top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(270deg, #92ffc0, #002661);
  background-size: 400% 400%;
  -webkit-animation: navTopStyleContainerAnimation 13s ease infinite;
  -moz-animation: navTopStyleContainerAnimation 13s ease infinite;
  animation: navTopStyleContainerAnimation 13s ease infinite;
}

.navTopStyleContainer span {
  color: aliceblue;
  font-size: small;
  font-family: "Baloo 2", cursive;
  padding: 0;
  margin: 0;
}
/*input*/
.colInput {
  width: 50%;
  background-color: #b2ebf29f;
  color: white;
  height: 100vh;
  flex-direction: column;
  padding: 2pc;
} 
.InputDiv {
  background-color: #e0f7fa;
  position: relative;
  width: 100%;
  padding: 2pc;
  height: auto;
  border-radius: 16px;
}
.InputDiv h3 {
  color: #006064;
}
.InputSub {
  background-color: #b2ebf2;
  padding: 1pc;
  height: auto;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.InputButton {
  border-radius: 6px;
  width: 100%;
}
.InputBaseDiv {
  background-color: #e0f7fa;
  width: 50%;
  height: auto;
  border-radius: 2pc;
  padding: 0.9pc;
  margin-top: 2em;
}
/*Output*/
.colOutput {
  width: 50%;
  background-color: #e0f7fa;
  color: white;
  height: 100vh;
  flex-direction: column;
  padding: 2pc;
}

.resultDiv {
  background-color: #b2ebf2;
  position: relative;
  width: 100%;
  padding: 0.5pc;
  height: auto;
  border-radius: 16px;
}
.resultDiv h3 {
  color: #006064;
}
.resultSub {
  background-color: #e0f7fa;
  padding: 1pc;
  height: auto;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resultButton {
  border-radius: 6px;
  width: 100%;
}
.resultBaseQR {
  background-color: #fff;
  width: 16pc;
  height: 16pc;
  border-radius: 2pc;
}
.resultBaseQR img{
width: 100%;
border-radius: 2pc;

}
